* {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-1 {
  height: 100vh;
}
.headers {
  background-color: #3c37ff;
  width: 100%;
  height: 50px;
}
.headers h1 {
  margin-left: 80px;
  color: white;
}
.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  height: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  width: 5%;
  /* min-height: 100vh; */
  overflow: scroll;
  /* scrollbar-width: 0; */
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar a {
  color: #fff;
}
.sidebar a:hover {
  text-decoration: none;
}
.main2 {
  padding: 0 70px;
}
.content {
  width: 95%;
  /* padding: 0 70px; */
  overflow: scroll;
  overflow-x: hidden;
}
.tab_table {
  width: 100%;
}
.nav-tabs {
  background-color: #fff !important;
  border-radius: 10px 10px 0 0 !important;
  border-color: none !important;
}
.nav-tabs .nav-link.active {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background: none !important;
  border-bottom: 5px solid blue !important;
  /* border: none !important; */
  border-color: #fff #fff blue #fff !important;
}
.td {
  -webkit-text-stroke-width: thin;
  font-weight: lighter;
}
.table {
  width: 100%;
}
.mb-4 {
  padding-top: 30px;
}
.card-body {
  height: 125px;
}
.btn-warning,
.btn-success {
  border-radius: 30px !important;
}
.nav-tabs:last-child {
  background-color: aqua !important;
}
.icon-part {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.leave-body {
  padding: 0 50px;
  margin-top: 30px;
}
.h-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: white;
  border-radius: 12px;
  margin: 0 30px;
  margin-bottom: 15px;
}
.dd-elements {
  padding: 10px 15px;
  background: white;
  border-radius: 12px 12px 0 0;
  margin: 0 30px;
  margin-bottom: 10px;
}
.c-button {
  height: 35px;
  width: 140px;
  border-radius: 2px;
}
.r-button {
  height: 35px;
  width: 140px;
  background: #671ff1 !important;
  border-radius: 2px;
  border: none !important;
}
.toaster {
  background: white;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 68%;
}

.form-select:disabled {
  background: white !important;
  background-image: none !important;
  border-right-color: white;
}
.form-select {
  background-image: none !important;
  /* border-right-color: white !important; */
  background: white !important;
}
.form-control:disabled {
  background: white !important;
  background-image: none !important;
  border-right-color: white !important;
  resize: none;
}
.form-control {
  resize: none;
}
.input-group-text {
  background: white !important;
  border-left-color: white !important;
}

.leave-select {
  border-right-color: white !important;
}
